Task_Manager_App/bonus_example/dest/compressed.zip
Task_Manager_App/.vscode
Task_Manager_App/.venv
Task_Manager_App/build
Task_Manager_App/dist


PDF_Generator/output.pdf
PDF_Generator/.venv
Email_News_App/.vscode/launch.json
Email_News_App/nasa_apod/__pycache__/
